.root {
  --link-color: #2e2f42;
  --global-font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway", sans-serif;
  --link-logo: #434455;
  --global-withe-text: #f4f4fd;
}

.website {
  font-family: var(--global-font-family);
}

body {
  font-family: var(--global-font-family);
  letter-spacing: 0.03em;
}

.logo-footer::before {
  color: blue;
  font-family: var(--logo-font-family);
  font-weight: 800;
  size: 18px;
  text-decoration: none;
}

.footer .logo {
  color: #f4f4fd;
  text-decoration: none;
}

.logo::before {
  content: "WEB";
  color: blue;
  font-family: var(--logo-font-family);
  font-weight: 800;
  size: 18px;
  text-decoration: none;
}

.logo {
  color: #2e2f42;
  text-decoration: none;
  font-family: var(--logo-font-family);
  font-weight: 800;
  size: 18px;
  width: 156px;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 45px;
}

ul {
  list-style-type: none;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  top: 72px;
  width: 100%;
  height: 525px;
  top: 72px;
}

.rect-icons {
  width: 264px;
  height: 112px;
  position: absolute;
  left: 0px;
  top: 0px;
  background: #f4f4fd;
  border-radius: 4px;
}

.top-line {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  margin-block-start: 0;
  flex-direction: row;
  align-items: center;
}

.header-container-content {
  width: 428px;
  height: 432px;
  position: relative;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(./images/office.png);
  background-size: cover;
}

.top-line {
  align-items: baseline;
}

.h1-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--global-font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.06em;
  color: #fff;
  width: 320px;
  text-align: center;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  top: 72px;
  width: 100%;
  height: 600px;
  top: 72px;
}

.button-order {
  padding: 16px, 32px, 16px, 32px;
  cursor: pointer;
  width: 160px;
  height: 56px;
  gap: 10px;
  border-radius: 4px 4px 4px;
  background-color: #4d5ae5;
  padding: 0;
  outline: none;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:hover,
.button-order:focus {
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about li h3 {
  font-weight: 500;
  size: 20px;
  color: var(--link-color);
  line-height: 1.5;
}

.about-h3 {
  text-align: center;
}

.about li p {
  size: 16px;
  color: var(--link-color);
  line-height: 1.5;
}

.sub-heder {
  font-weight: 700;
  size: 36px;
  color: var(--link-color);
  line-height: 40px;
}

.team {
  font-weight: 700;
  size: 36px;
  color: var(--link-color);
  line-height: 40px;
}

.our-team h3 {
  font-weight: 500;
  size: 20px;
  color: var(--link-color);
  line-height: 1.5;
}

.our-team p {
  size: 16px;
  color: var(--link-logo);
  line-height: 1.5;
}

.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  width: 100%;
  display: flex;
  justify-content: unset;
  align-content: baseline;
  flex-wrap: wrap;
}

.logo-studio {
  color: #ffffff;
  line-height: 21px;
}

.buttons .all {
  font-weight: 500;
  color: #4d5ae5;
  background-color: #e7e9fc;
  width: 69px;
  height: 48px;
  padding: 12px, 24px, 12px, 24px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  line-height: 1.5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons .all:hover {
  background-color: #404bbf;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons .web {
  color: #4d5ae5;
  background-color: #e7e9fc;
  width: 116px;
  height: 48px;
  padding: 12px, 24px, 12px, 24px;
  cursor: pointer;
  border: 1px;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons .web:hover {
  background-color: #404bbf;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons .app {
  color: #4d5ae5;
  background-color: #e7e9fc;
  width: 78px;
  height: 48px;
  padding: 12px, 24px, 12px, 24px;
  cursor: pointer;
  border: 1px;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons .app:hover {
  background-color: #404bbf;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons .design {
  color: #4d5ae5;
  background-color: #e7e9fc;
  width: 101px;
  height: 48px;
  padding: 12px, 24px, 12px, 24px;
  cursor: pointer;
  border: 1px;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons .design:hover {
  background-color: #404bbf;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons .marketing {
  color: #4d5ae5;
  background-color: #e7e9fc;
  width: 101px;
  height: 48px;
  padding: 12px, 24px, 12px, 24px;
  cursor: pointer;
  border: 1px;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
}

.buttons .marketing:hover {
  background-color: #404bbf;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-img {
  display: flex;
  justify-content: space-around;
  gap: 24px;
}

.sub-heder {
  display: flex;
  justify-content: center;
}

.social-icons {
  fill: #2e2f42;
}

.social-icons:hover,
.social-icons:focus {
  fill: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-links {
  display: flex;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 15px;
  height: 15px;
}

.cards-team {
  font-size: 14px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team {
  background-color: #f4f4fd;
  width: 100%;
  height: 780px;
}

.section {
  padding-bottom: 94px;
  width: 428px;
}

.logo-footer {
  display: flex;

  flex-direction: column;

  margin-left: 110px;
}

.p-footer {
  margin-bottom: 100px;
  margin-top: 17.5px;
}

.logo-footer .logo {
  margin-top: 100px;
  margin-bottom: 17.5px;
}

.active-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -60px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 12px;
}

.images-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: #e7e9fc;
  margin-top: -72px;
  cursor: pointer;
}

.container .section {
  padding-top: 94px;
  padding-bottom: 0px;
}

.h3-images {
  margin-left: 16px;
  margin-top: 32px;
  margin-bottom: 8px;
}

.p-images {
  margin-left: 16px;
  margin-bottom: 60px;
}

.h2-customers {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 0px;
}

.customers {
  text-align: center;
  justify-content: center;
  margin-bottom: 72px;
}

.customers-icons {
  fill: #8e8f99;
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
  margin-bottom: 0px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  margin-right: 25px;
}

.customers-icons:hover,
.customers-icons:focus {
  fill: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hover-rectangle:hover {
  stroke: #4d5ae5;
}

.portofolio-cards:hover {
  font-size: 14px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 48px;
}

.social-media-footer {
  margin-left: 40px;
}

.social-media-footer p {
  margin-left: 110px;
  font-family: var(--global-font-family);
  margin-bottom: 30px;
}

.social-media-footer svg {
  fill: #f4f4fd;
}

.icon-links-footer {
  display: flex;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 40px;
  height: 40px;
  flex-flow: wrap;
}

.icon-links-footer:hover,
.icon-links-footer:focus {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #2e2f42;
}

.footer .container {
  width: 100%;
}

.is-hidden {
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 30px;
  left: -200px;
  width: 829px;
  height: 660px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  opacity: 1.5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content {
  margin: 0 auto;
  padding: 16px;
  background-color: #fff;
  width: 50%;
  height: 585px;
  position: relative;
  border-radius: 4px;
}

.close-btn {
  background-color: #fff;
  border-radius: 177%;
  color: #2e2f42;
  outline: none;
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
}

.list-social-icons:hover,
.list-social-icons:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-social-icons {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 30px;
  margin-right: 60px;
  gap: 30px;
}

.img-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  display: flex;
  justify-content: center;
  align-content: center;
  top: 0px;
  height: 300px;
  width: 361px;
  position: absolute;
  background-color: #4d5ae5;
  opacity: 1.5;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-overlay:hover .overlay {
  transform: translateY(0px);
}

.overlay-text {
  color: #f4f4fd;
  font-family: var(--global-font-family);
  display: flex;
  margin-top: 40px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 164px;
  line-height: 24px;
}

.modal-form {
  display: table-caption;
}

.p-form {
  font-family: var(--global-font-family);
  color: #2e2f42;
  width: 360px;
  height: 5px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 34px;
  margin-left: 24px;
  margin-right: 24px;
  font-weight: 500px;
  font-size: 16px;
}

.modal-form {
  color: #2e2f42;
}

input {
  width: 360px;
  height: 40px;
  top: 18px;
  border-radius: 4px;
  margin-left: 24px;
  margin-right: 24px;
  padding-left: 45px;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  margin-top: 8px;
  margin-left: 24px;
  margin-right: 24px;
  color: #8e8f99;
}

.input-form {
  margin-left: 24px;
  margin-right: 24px;
}

textarea {
  width: 360px;
  height: 120px;
  top: 216px;
  border-radius: 4px;
  resize: none;
}

input:hover,
input:focus {
  border-color: #4d5ae5;
}

.privacypolicy {
  width: 400px;
  height: 16px;
  font-family: var(--global-font-family);
  size: 12px;
  margin-top: 16px;
  margin-left: 8px;
}

.checkbox {
  width: 16px;
  height: 16px;
  margin-top: 16px;
  margin-bottom: 24px;
  margin-left: 24px;
}

.modal-form-checkbox {
  display: flex;
}

:hover,
.comment-textarea:focus {
  border-color: #4d5ae5;
}

.comment-textarea {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-icon {
  position: absolute;
  display: inline-block;
  margin-top: 28px;
  margin-left: 15px;
}

.name-icon:hover,
.name-icon:focus {
  fill: #4d5ae5;
}

.name-icon {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-send {
  padding: 16px, 32px, 16px, 32px;
  cursor: pointer;
  width: 160px;
  height: 56px;
  gap: 10px;
  border-radius: 4px;
  background-color: #4d5ae5;
  outline: none;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
  margin-right: 35px;
  font-family: var(--global-font-family);
  font-size: 16px;
  font-weight: 500px;
}

.btn-send-style {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: var(--global-font-family);
}

.name-label-footer {
  padding-left: 15px;
  margin-top: 10px;
  width: 398px;
  height: 40px;
  margin-left: 15px;
}

.footer-form {
  display: contents;
}

.modal-form-footer {
  margin-top: 30px;
}

.btn-subscribe-footer {
  top: 140px;
  left: 1116px;
  padding: 8px 24px 8px 24px;
  gap: 16px;
  border-radius: 4px;
  color: #2e2f42;
  background-color: #4d5ae5;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  border: none;
  width: 165px;
  height: 40px;
  text-align: left;
  font-family: var(--global-font-family);
  font-size: 16px;
  font-weight: 500px;
  margin-left: 135px;
  margin-top: 5px;
  margin-bottom: 100px;
}

.p-subscribe {
  margin-top: 10px;
  color: #ffffff;
  margin-left: 165px;
}

.btn-subscribe-footer:hover,
.btn-subscribe-footer:focus {
  color: white;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-btn-footer {
  position: absolute;
  margin-left: -60px;
  margin-top: 19px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pages {
  display: none;
}

.link-logo {
  display: none;
}

.top-line {
  gap: 40px;
  margin-block-start: 0;
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-left: 16px;
  align-items: baseline;
}

.cards-team {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.team-cards {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  gap: 72px;
  margin-bottom: 192px;
}
.container-team {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  gap: 72px;
  margin-bottom: 192px;
}

.js-menu-container.is-open {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.btn-menu {
  position: absolute;
  top: 25px;
  right: 17px;
}

.about-icons svg {
  display: none;
}

.what-are-we-doing {
  display: none;
}

.h2-team {
  text-align: center;
  margin-left: 50px;
  margin-bottom: 96px;
}

.section-team {
  background-color: #f4f4fd;
}

.about-list {
  top: 598px;
  left: 16px;
  gap: 72px;
  opacity: 0px;
}

.container-customers {
  justify-content: space-between;
}

.container-mobile-menu {
  min-width: 320px;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.page-header .container-mobile-menu {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu .link-mobile-pages {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu.link-mobile-pages:hover,
.menu.link-mobile-pages:focus {
  color: #404bbf;
  text-decoration: none;
}

.link-mobile-pages:hover {
  color: #404bbf;
}

.menu-toggle {
  min-height: 40px;
  min-width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: #404bbf;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #fff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 16px;
  color: #2e2f42;
  left: 220px;
}

.mobile-menu-email-number-icons {
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 36px;
  font-weight: 700;
}

.mobile-menu .link-mobile-pages {
  display: block;
  padding: 10px;
  font-family: var(--global-font-family);
  font-size: 36px;
  text-decoration: none;
}

.mobile-menu:hover {
  color: #404bbf;
}

.mobile-menu-email-number-icons {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: -28px;
  margin-top: 199px;
  text-decoration: none;
  color: #2e2f42;
}

.link-mobile-pages-number {
  font-family: var(--global-font-family);
  font-size: 36px;
  font-weight: 700;
  text-decoration: none;
  color: #2e2f42;
}

.link-mobile-pages-number:hover,
.link-mobile-pages-number:focus {
  color: #404bbf;
}

.link-mobile-pages {
  font-family: var(--global-font-family);
  text-decoration: none;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
}

/* Stilizare Tableta  768px  */
@media screen and (min-width: 768px) {
  .website {
    font-family: var(--global-font-family);
  }
  .pages a {
    color: var(--link-color);
    text-decoration: none;

    font-weight: 500;
    gap: 40px;
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .pages {
    display: flex;
    justify-content: space-evenly;
    margin-block-start: 0;
    gap: 24px;
  }

  .pages a:hover,
  .pages a:focus {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .pages a.active-studio {
    border-bottom: 3px solid #404bbf;
    width: 50px;
    height: 22px;
    border-radius: 2px;
  }

  .pages a.active-portfolio {
    border-bottom: 3px solid #404bbf;
    width: 77px;
    height: 22px;
    border-radius: 2px;
  }

  .h2-team {
    width: 647px;
  }

  .team-cards {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    gap: 72px;
    margin-bottom: 192px;
    margin-left: 100px;
  }
  .about-list {
    top: 598px;
    left: 16px;
    gap: 72px;
    opacity: 0px;
    width: 720px;
  }
  .container-team {
    width: 300px;
  }
  .container-customers {
    width: 580px;
    display: flex;
    justify-content: center;
    margin-left: 100px;
  }
  body {
    font-family: var(--global-font-family);
    letter-spacing: 0.03em;
  }

  .logo-footer::before {
    color: blue;
    font-family: var(--logo-font-family);
    font-weight: 800;
    size: 18px;
    text-decoration: none;
  }

  .footer .logo {
    color: #f4f4fd;
    text-decoration: none;
  }

  .logo::before {
    content: "WEB";
    color: blue;
    font-family: var(--logo-font-family);
    font-weight: 800;
    size: 18px;
    text-decoration: none;
  }

  .logo {
    color: #2e2f42;
    text-decoration: none;
    font-family: var(--logo-font-family);
    font-weight: 800;
    size: 18px;
    width: 156px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 45px;
  }

  ul {
    list-style-type: none;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    top: 72px;
    width: 100%;
    height: 525px;
    top: 72px;
  }

  .rect-icons {
    width: 264px;
    height: 112px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: #f4f4fd;
    border-radius: 4px;
  }

  .top-line {
    gap: 40px;
    margin-block-start: 0;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-left: 16px;
    align-items: baseline;
  }
  .top-line {
    display: flex;
    justify-content: flex-start;
    margin-left: 16px;
  }

  .header-container-content {
    width: 768px;
    height: 436px;
    position: absolute;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(./images/office.png);
    background-size: cover;
  }

  .top-line {
    align-items: baseline;
  }

  .h1-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--global-font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.06em;
    color: #fff;
    width: 320px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 345px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    top: 72px;
    width: 100%;
    height: 600px;
    top: 72px;
  }

  .button-order {
    padding: 16px, 32px, 16px, 32px;
    cursor: pointer;
    width: 160px;
    height: 56px;
    gap: 10px;
    border-radius: 4px 4px 4px;
    background-color: #4d5ae5;
    padding: 0;
    outline: none;
    border: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 300px;
    margin-bottom: 150px;
  }

  .button-order:hover,
  .button-order:focus {
    background-color: #4d5ae5;
    color: #ffffff;
    cursor: pointer;
    border: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .about li h3 {
    font-weight: 500;
    size: 20px;
    color: var(--link-color);
    line-height: 1.5;
  }

  .about-h3 {
    text-align: center;
  }

  .about li p {
    size: 16px;
    color: var(--link-color);
    line-height: 1.5;
  }

  .sub-heder {
    font-weight: 700;
    size: 36px;
    color: var(--link-color);
    line-height: 40px;
  }

  .team {
    font-weight: 700;
    size: 36px;
    color: var(--link-color);
    line-height: 40px;
  }

  .our-team h3 {
    font-weight: 500;
    size: 20px;
    color: var(--link-color);
    line-height: 1.5;
  }

  .our-team p {
    size: 16px;
    color: var(--link-logo);
    line-height: 1.5;
  }

  .footer {
    background-color: #2e2f42;
    color: #f4f4fd;
    width: 100%;
    display: flex;
    justify-content: unset;
    align-content: baseline;
    flex-wrap: wrap;
  }

  .logo-studio {
    color: #ffffff;
    line-height: 21px;
  }

  .buttons .all {
    font-weight: 500;
    color: #4d5ae5;
    background-color: #e7e9fc;
    width: 69px;
    height: 48px;
    padding: 12px, 24px, 12px, 24px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .buttons .all:hover {
    background-color: #404bbf;
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .buttons .web {
    color: #4d5ae5;
    background-color: #e7e9fc;
    width: 116px;
    height: 48px;
    padding: 12px, 24px, 12px, 24px;
    cursor: pointer;
    border: 1px;
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .buttons .web:hover {
    background-color: #404bbf;
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .buttons .app {
    color: #4d5ae5;
    background-color: #e7e9fc;
    width: 78px;
    height: 48px;
    padding: 12px, 24px, 12px, 24px;
    cursor: pointer;
    border: 1px;
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .buttons .app:hover {
    background-color: #404bbf;
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .buttons .design {
    color: #4d5ae5;
    background-color: #e7e9fc;
    width: 101px;
    height: 48px;
    padding: 12px, 24px, 12px, 24px;
    cursor: pointer;
    border: 1px;
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .buttons .design:hover {
    background-color: #404bbf;
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .buttons .marketing {
    color: #4d5ae5;
    background-color: #e7e9fc;
    width: 101px;
    height: 48px;
    padding: 12px, 24px, 12px, 24px;
    cursor: pointer;
    border: 1px;
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.5;
  }

  .buttons .marketing:hover {
    background-color: #404bbf;
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .section-img {
    display: flex;
    justify-content: space-around;
    gap: 24px;
  }

  .sub-heder {
    display: flex;
    justify-content: center;
  }

  .social-icons {
    fill: #2e2f42;
  }

  .social-icons:hover,
  .social-icons:focus {
    fill: #4d5ae5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .icon-links {
    display: flex;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 15px;
    height: 15px;
  }

  .cards-team {
    font-size: 14px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
    margin-left: 100px;
  }

  .team {
    background-color: #f4f4fd;
    width: 100%;
    height: 780px;
  }

  .section {
    padding-bottom: 94px;
    width: 428px;
  }

  .logo-footer {
    display: flex;

    flex-direction: column;

    margin-left: 110px;
  }

  .p-footer {
    margin-bottom: 100px;
    margin-top: 17.5px;
  }

  .logo-footer .logo {
    margin-top: 100px;
    margin-bottom: 17.5px;
  }

  .active-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -60px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 12px;
  }

  .images-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: #e7e9fc;
    margin-top: -72px;
    cursor: pointer;
  }

  .container .section {
    padding-top: 94px;
    padding-bottom: 0px;
  }

  .h3-images {
    margin-left: 16px;
    margin-top: 32px;
    margin-bottom: 8px;
  }

  .p-images {
    margin-left: 16px;
    margin-bottom: 60px;
  }

  .h2-customers {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-left: 323px;
    margin-bottom: 0px;
  }

  .customers {
    text-align: center;
    justify-content: center;
    margin-bottom: 72px;
  }

  .customers-icons {
    fill: #8e8f99;
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
    margin-bottom: 0px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin-right: 25px;
  }

  .customers-icons:hover,
  .customers-icons:focus {
    fill: #4d5ae5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hover-rectangle:hover {
    stroke: #4d5ae5;
  }

  .portofolio-cards:hover {
    font-size: 14px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 48px;
  }

  .social-media-footer {
    margin-left: 40px;
    margin-top: 84px;
  }

  .social-media-footer p {
    margin-left: 110px;
    font-family: var(--global-font-family);
    margin-bottom: 30px;
  }

  .social-media-footer svg {
    fill: #f4f4fd;
  }

  .icon-links-footer {
    display: flex;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 40px;
    height: 40px;
    flex-flow: wrap;
  }

  .icon-links-footer:hover,
  .icon-links-footer:focus {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #2e2f42;
  }

  .footer .container {
    width: 100%;
  }

  .is-hidden {
    visibility: hidden;
  }

  .modal {
    position: absolute;
    top: 30px;
    left: -200px;
    width: 829px;
    height: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    opacity: 1.5;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-content {
    margin: 0 auto;
    padding: 16px;
    background-color: #fff;
    width: 50%;
    height: 585px;
    position: relative;
    border-radius: 4px;
  }

  .close-btn {
    background-color: #fff;
    border-radius: 177%;
    color: #2e2f42;
    outline: none;
    position: absolute;
    top: 24px;
    right: 24px;
    border: none;
  }

  .list-social-icons:hover,
  .list-social-icons:focus {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .list-social-icons {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 30px;
    margin-right: 60px;
    gap: 30px;
  }

  .img-overlay {
    position: relative;
    overflow: hidden;
  }

  .overlay {
    display: flex;
    justify-content: center;
    align-content: center;
    top: 0px;
    height: 300px;
    width: 361px;
    position: absolute;
    background-color: #4d5ae5;
    opacity: 1.5;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .img-overlay:hover .overlay {
    transform: translateY(0px);
  }

  .overlay-text {
    color: #f4f4fd;
    font-family: var(--global-font-family);
    display: flex;
    margin-top: 40px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 164px;
    line-height: 24px;
  }

  .modal-form {
    display: table-caption;
  }

  .p-form {
    font-family: var(--global-font-family);
    color: #2e2f42;
    width: 360px;
    height: 5px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 34px;
    margin-left: 24px;
    margin-right: 24px;
    font-weight: 500px;
    font-size: 16px;
  }

  .modal-form {
    color: #2e2f42;
  }

  input {
    width: 360px;
    height: 40px;
    top: 18px;
    border-radius: 4px;
    margin-left: 24px;
    margin-right: 24px;
    padding-left: 45px;
  }

  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    margin-top: 8px;
    margin-left: 24px;
    margin-right: 24px;
    color: #8e8f99;
  }

  .input-form {
    margin-left: 24px;
    margin-right: 24px;
  }

  textarea {
    width: 360px;
    height: 120px;
    top: 216px;
    border-radius: 4px;
    resize: none;
  }

  input:hover,
  input:focus {
    border-color: #4d5ae5;
  }

  .privacypolicy {
    width: 400px;
    height: 16px;
    font-family: var(--global-font-family);
    size: 12px;
    margin-top: 16px;
    margin-left: 8px;
  }

  .checkbox {
    width: 16px;
    height: 16px;
    margin-top: 16px;
    margin-bottom: 24px;
    margin-left: 24px;
  }

  .modal-form-checkbox {
    display: flex;
  }

  :hover,
  .comment-textarea:focus {
    border-color: #4d5ae5;
  }

  .comment-textarea {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .name-icon {
    position: absolute;
    display: inline-block;
    margin-top: 28px;
    margin-left: 15px;
  }

  .name-icon:hover,
  .name-icon:focus {
    fill: #4d5ae5;
  }

  .name-icon {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .btn-send {
    padding: 16px, 32px, 16px, 32px;
    cursor: pointer;
    width: 160px;
    height: 56px;
    gap: 10px;
    border-radius: 4px;
    background-color: #4d5ae5;
    outline: none;
    border: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #fff;
    margin-right: 35px;
    font-family: var(--global-font-family);
    font-size: 16px;
    font-weight: 500px;
  }

  .btn-send-style {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: var(--global-font-family);
  }

  .name-label-footer {
    padding-left: 15px;
    margin-top: 10px;
    width: 398px;
    height: 40px;
    margin-left: 15px;
  }

  .footer-form {
    display: contents;
  }

  .modal-form-footer {
    margin-top: 30px;
  }

  .btn-subscribe-footer {
    top: 140px;
    left: 1116px;
    padding: 8px 24px 8px 24px;
    gap: 16px;
    border-radius: 4px;
    color: #2e2f42;
    background-color: #4d5ae5;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    border: none;
    width: 165px;
    height: 40px;
    text-align: left;
    font-family: var(--global-font-family);
    font-size: 16px;
    font-weight: 500px;
    margin-left: 135px;
    margin-top: 5px;
    margin-bottom: 100px;
  }

  .p-subscribe {
    margin-top: 10px;
    color: #ffffff;
    margin-left: 165px;
  }

  .btn-subscribe-footer:hover,
  .btn-subscribe-footer:focus {
    color: white;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .svg-btn-footer {
    position: absolute;
    margin-left: -60px;
    margin-top: 19px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .pages {
    display: ;
  }

  .link-logo {
    display: none;
  }

  .top-line {
    display: flex;
    justify-content: flex-start;
    margin-left: 16px;
  }

  .cards-team {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .team-cards {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    gap: 72px;
    margin-bottom: 192px;
  }

  .btn-menu {
    position: absolute;
    top: 25px;
    right: 17px;
  }

  .about-icons svg {
    display: none;
  }

  .what-are-we-doing {
    display: none;
  }

  .h2-team {
    text-align: center;
    margin-left: 50px;
    margin-bottom: 96px;
  }

  .section-team {
    background-color: #f4f4fd;
  }

  .about-list {
    top: 598px;
    left: 16px;
    gap: 72px;
    opacity: 0px;
  }
}
.pages a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 500;
  gap: 40px;
  display: flex;
  margin-top: 24px;
  margin-bottom: 24px;
}
/* Stilizare Desktop si device-uri peste 1158px */
@media screen and (min-width: 1159px) {
  .pages a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: 500;
    gap: 40px;
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .h2-customers {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-left: 0px;
    margin-bottom: 72px;
  }
  .pages {
    display: flex;
    justify-content: space-evenly;
    margin-block-start: 0;
    gap: 24px;
  }

  .pages a:hover,
  .pages a:focus {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .pages a.active-studio {
    border-bottom: 3px solid #404bbf;
    width: 50px;
    height: 22px;
    border-radius: 2px;
  }

  .pages a.active-portfolio {
    border-bottom: 3px solid #404bbf;
    width: 77px;
    height: 22px;
    border-radius: 2px;
  }

  .link-logo a {
    color: var(--link-logo);
    text-decoration: none;
    size: 16px;
    line-height: 1.5;
    justify-content: space-around;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .link-logo {
    display: flex;
    gap: 40px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-block-start: 0;
  }

  .link-logo:hover,
  .link-logo:focus {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-container-content {
    width: 100%;
    height: 600px;
    position: relative;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(./images/office.png);
    background-size: cover;
  }

  .about-list {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 24px;
    width: 1440px;
  }

  .what-are-we-doing {
    display: flex;
  }

  .about-icons svg {
    display: flex;
  }

  .team-cards {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    gap: 24px;
    margin-top: 72px;
    margin-bottom: 200px;
  }
  .container-team {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    gap: 72px;
    margin-bottom: 192px;
  }
  .list-social-icons {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 30px;
    margin-right: 60px;
    gap: 30px;
  }

  .container {
    width: 1200px;
  }

  .about li h3 {
    font-weight: 500;
    size: 20px;
    color: var(--link-color);
    line-height: 1.5;
  }

  .about-h3 {
    display: flex;
  }

  .h2-team {
    text-align: center;
  }

  .h1-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--global-font-family);
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.06em;
    color: #fff;
    width: 696px;
    text-align: center;
  }

  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .container-customers {
    height: 100px;
    width: 1200px;
    display: flex;
    margin-left: 18px;
    justify-content: space-around;
  }

  .customers-icons {
    fill: #8e8f99;
    display: flex;
    justify-content: space-evenly;
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
    margin-bottom: 120px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .customers-icons:hover,
  .customers-icons:focus {
    fill: #4d5ae5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .logo-footer {
    display: flex;

    flex-direction: column;

    margin-left: 156px;
  }

  .p-footer {
    margin-bottom: 100px;
    margin-top: 17.5px;
  }

  .logo-footer .logo {
    margin-top: 100px;
    margin-bottom: 17.5px;
  }

  .logo-footer::before {
    color: blue;
    font-family: var(--logo-font-family);
    font-weight: 800;
    size: 18px;
    text-decoration: none;
  }

  .footer .logo {
    color: #f4f4fd;
    text-decoration: none;
  }

  .social-media-footer {
    margin-top: 80px;
    margin-left: 100px;
  }

  .social-media-footer p {
    margin-left: 40px;
    font-family: var(--global-font-family);
    margin-bottom: 30px;
  }

  .social-media-footer svg {
    fill: #f4f4fd;
  }

  .p-subscribe {
    margin-top: 10px;
    color: #ffffff;
  }

  .name-label-footer {
    padding-left: 15px;
    margin-top: 10px;
    width: 264px;
    height: 40px;
  }

  .btn-subscribe-footer {
    top: 140px;
    left: 1116px;
    padding: 8px 24px 8px 24px;
    gap: 16px;
    border-radius: 4px;
    color: #2e2f42;
    background-color: #4d5ae5;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    border: none;
    width: 165px;
    height: 40px;
    text-align: left;
    font-family: var(--global-font-family);
    font-size: 16px;
    font-weight: 500px;
  }

  .modal-form-footer {
    margin-top: 86px;
  }

  .modal {
    position: fixed;
    top: 80px;
    left: 142px;
    width: 915px;
    height: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    opacity: 1.5;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-content {
    margin: 0 auto;
    padding: 16px;
    background-color: #fff;
    width: 50%;
    height: 585px;
    position: relative;
    border-radius: 4px;
  }

  .close-btn {
    background-color: #fff;
    border-radius: 177%;
    color: #2e2f42;
    outline: none;
    position: absolute;
    top: 24px;
    right: 24px;
    border: none;
  }
}
